body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    color: #FFFFFF;
    background-color: #1C1D1F;
}
h1 {
    color: #00bb00;
}
details summary {
    cursor: pointer;
    font-weight: bold;
    margin: 5px 0;
    border-bottom: 1px solid #1C1D1F;
}
ol {
    list-style: none;
    padding-left: 20px;
    border-left: 1px solid #ccc;
}
li {
    margin: 5px 0;
}
/* on hover ol, change the color */
summary:hover {
    color: #00bb00;
    border-bottom: 1px solid #00bb00;
}


details {
    margin-bottom: 10px;
}